src/conf/xml-resources/web-service-references/MercaSuperWS/wsdl/192.168.10.200_8080/MercaSuper/MercaSuperWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws.services.cl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.services.cl/">

<xs:element name="ConsultarProducto" type="tns:ConsultarProducto"/>

<xs:element name="ConsultarProductoResponse" type="tns:ConsultarProductoResponse"/>

<xs:complexType name="ConsultarProducto">
<xs:sequence>
<xs:element name="codigo" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConsultarProductoResponse">
<xs:sequence>
<xs:element name="return" type="tns:productos" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="productos">
<xs:sequence>
<xs:element name="codigo" type="xs:string" minOccurs="0"/>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="valor" type="xs:float"/>
</xs:sequence>
</xs:complexType>
</xs:schema>